.container {
  margin-top: -50px;
  padding: 0 50px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.imageContainer .backArrow i,
.imageContainer .nextArrow i {
  font-size: 50px !important;
}

.imageContainer .backArrow,
.imageContainer .nextArrow {
  width: 50px;
}

.description {
  font-size: 20px;
  text-align: center;
  /* margin-top: 0; */
}

.info {
  text-align: center;
  margin-top: 5px;
}

.pagination {
  margin-top: 15px;
}

.song.header {
  background-color: #0070f3 !important;
  color: white;
  text-align: left;
}

.song:nth-child(even) {
  background-color: #f2f2f2;
}

.songs {
  /* margin: auto;
  margin-top: 20px; */
  margin: 20px auto;
  width: 80%;
}

.song {
  display: flex;
}

@media only screen and (max-width: 1630px) {
  .song > div {
    flex: 0.2;
  }
}

.title,
.artist,
.album,
.length,
.date,
.actions {
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin-top: -1px; /* account for border overlap */
  margin-left: -1px; /* account for border overlap */
}

.title {
  flex: 0.25;
}

.artist {
  flex: 0.25;
}

.album {
  flex: 0.25;
}

.length {
  flex: 0.05;
}

.date {
  flex: 0.1;
}

.actions {
  flex: 0.1;
  text-align: center;
}

.actions i {
  display: inline-block;
  margin: 0 5px;
}

.icon.remove {
  color: #f44336;
}

.icon.remove:hover {
  cursor: pointer;
}

.songs a {
  color: #0070f3;
  text-decoration: none;
}

.songs a:hover,
.songs a:focus,
.songs a:active {
  text-decoration: underline;
  cursor: pointer;
}
